@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
* {
  list-style: none;
  text-decoration: none;
  color: #707070;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

html {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  color: #707070;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1.6rem;
}

.nav_wrapper {
  position: fixed;
  width: 100%;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_wrapper .inner {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_wrapper .inner .nav_profile img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  background-color: #e1b8fb;
  margin-left: 2rem;
}

.nav_wrapper .inner .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2rem;
}

.nav_wrapper .inner .nav_list li {
  padding: 1% 5%;
  margin: 10%;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  position: relative;
}

.nav_wrapper .inner .nav_list li :hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: linear-gradient(40deg, #e1b8fb, #fc6262);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.nav_wrapper .inner .nav_list li :hover::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 80%;
  margin-left: 10%;
  left: 0;
  height: 0.3rem;
  border-radius: 0.1rem;
  background: linear-gradient(40deg, #e1b8fb, #ffb6b6);
}

.main_wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main_wrapper .inner {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
  height: 80%;
  padding-top: 5%;
}

.main_wrapper .inner .main_title {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
}

.main_wrapper .inner .main_title .title {
  color: #e1b8fb;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0.3rem;
}

.main_wrapper .inner .main_title .name {
  color: #c891eb;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0.1rem;
}

.main_wrapper .inner .main_title .sub {
  font-size: 2rem;
}

.main_wrapper .inner .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  background: linear-gradient(150deg, #d4aeff, #fecef1, #f69df6);
  border-radius: 4rem;
}

.main_wrapper .inner .btn a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 3rem;
}

.main_wrapper .inner .btn :hover {
  border-radius: 4rem;
  background: linear-gradient(50deg, #fecef1, #f6b2f6, #d4aeff);
  -webkit-box-shadow: 0 0 0.5rem 0.1rem #f69df685;
          box-shadow: 0 0 0.5rem 0.1rem #f69df685;
}

.main_wrapper .main_bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.main_wrapper .main_bg img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.profile_wrapper {
  width: 100%;
  height: 5000px;
  background-color: #FFDCF6;
  position: relative;
  top: 0;
}

.profile_wrapper .wrapper_title {
  padding-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 10rem;
  text-align: center;
  color: #fff;
}

.profile_wrapper .part_wrapper {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile_wrapper .part_wrapper .part {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_wrapper .part_wrapper .part .profile_img {
  position: relative;
  top: -1rem;
  width: 20%;
}

.profile_wrapper .part_wrapper .part .profile_img img {
  width: 80%;
}

.profile_wrapper .part_wrapper .part .profile_contents {
  position: relative;
  top: 2rem;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_wrapper .part_wrapper .part .profile_contents .contents_cover {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  padding: 3rem 0 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .cover_title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}

.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .content {
  font-size: 1.5rem;
}

.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .content .date {
  font-weight: 600;
}

.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .content .detail {
  line-height: 1.5rem;
}

.profile_wrapper .part_wrapper .part1 .profile_contents .contents_cover {
  border-radius: 0 5rem 5rem 5rem;
}

.profile_wrapper .part_wrapper .part2 .profile_contents {
  border: 1px solid green;
}

.profile_wrapper .part_wrapper .part2 .profile_contents .contents_cover {
  border-radius: 5rem 0 5rem 5rem;
}

.work_wrapper {
  width: 100%;
  height: 5000px;
  background-color: green;
  position: relative;
  top: 0;
}

.ect_wrapper {
  width: 100%;
  height: 5000px;
  background-color: gray;
  position: relative;
  top: 0;
}

.shortcut_wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10rem;
  z-index: 11;
}

.shortcut_wrapper .shortcut {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.shortcut_wrapper .shortcut img {
  width: 5.5rem;
  height: 5.5rem;
}

.shortcut_wrapper .shortcut img:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.tippy-box {
  margin-bottom: 0.5rem;
  background-color: transparent;
}

.tippy-box[data-theme~='purple'] {
  background-color: #c891eb;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  border-top-color: #c891eb;
}
