@import './common';

// 상단 고정 NAV 
.nav_wrapper {
  position: fixed;
  width: 100%;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
  display: flex;
  .inner {
    @include inner;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_profile {
      img {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
        background-color: #e1b8fb;
        margin-left: 2rem;
      }
    }
    .nav_list {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      li {
        padding: 1% 5%;
        margin: 10%;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        position: relative;
        a {
          color: #707070;
        }
        :hover {
          transition: .3s;
          background: linear-gradient(40deg,#e1b8fb,#fc6262);
          -webkit-background-clip: text;
          color: transparent;
          display: inline-block;
        }
        :hover::before {
          content: "";
          position: absolute;
          top: 100%;
          width: 80%;
          margin-left: 10%;
          left: 0;
          height: 0.3rem;
          border-radius: 0.1rem;
          background: linear-gradient(40deg,#e1b8fb,#ffb6b6);
        }
      }
    }
  }
}


// MAIN 
.main_wrapper {
  width: 100%;
  height: 100vh;
  // background-color: palevioletred;
  display: flex;
  justify-content: center;
  position: relative;
  .inner {
    @include inner;
    // margin-top: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    height: 80%;
    padding-top: 5%;
    .main_title {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0rem;
      .title {
        color: #e1b8fb;
        font-size: 6.5rem;
        font-weight: 700;
        line-height: 0;
        letter-spacing: 0.3rem;
      }
      .name {
        color: #c891eb;
        font-size: 5.5rem;
        font-weight: 700;
        line-height: 0;
        letter-spacing: 0.1rem;
      }
      .sub {
        font-size: 2rem;
      }
    }
    .btn {
      display: flex;
      @include btn (2rem, 1.5rem 3rem);
      :hover {
        @include btn_hover;
      }
    }
  }
  .main_bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}




// profile_wrapper  
.profile_wrapper {
  width: 100%;
  padding-bottom: 23rem;
  background-color: #FFDCF6;
  position: relative;
  top: 0;
  .wrapper_title {
    @include padding-top(#fff);
  }
  .part_wrapper {
    @include inner;
    display: flex;

    .part {
      width: 50%;
      display: flex;
      justify-content: center;
      .profile_img {
        position: relative;
        top: -1rem;
        width: 20%;
        img {
          width: 80%;
          padding-left: 10%;
        }
      }

      .profile_contents {
        position: relative;
        top: 2rem;
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contents_cover {
          width: 80%;
          background-color: rgba(255, 255, 255, 0.7);
          margin-bottom: 2rem;
          box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.16);
          padding: 3rem 0 3rem 5rem;
          border: 1px solid #fff;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .cover_title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 3rem;
          }
          .content {
            font-size: 1.5rem;
            .date {
              font-weight: 600;
            }
            .detail {
              line-height: 1.5rem;
            }
          }
        }
      }
    }
    .part1 {
      .contents_cover {
        border-radius: 0 5rem 5rem 5rem;
        /* 스크롤매직 */
        &.s-event {
          opacity: 0;
          transform: translateX(-20px);
          transition: 1s;
            &.visible {
              opacity: 1;
              transform: none;
            }
        }
      }
    }
    .part2 {
      .contents_cover {
        border-radius: 5rem 0 5rem 5rem;
        /* 스크롤매직 */
        &.s-event {
          opacity: 0;
          transform: translateX(20px);
          transition: 1s;
            &.visible {
              opacity: 1;
              transform: none;
            }
        }
        .date {
          line-height: 3rem;
        }
        .detail {
          line-height: 0rem !important;
        }
      } 
    }
  }
  .main_bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

// work_wrapper 
.work_wrapper {
  width: 100%;
  padding-bottom: 20rem;
  background-color: #fff;
  position: relative;
  top: 0;
  z-index: 0;
  .wrapper_title {
    @include padding-top(#FFDCF6);
  }
  .works_cover {
    z-index: 2;
    @include inner();
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5.5rem;
    .works {
      width: 110.6rem;
      display: flex;
      border-radius: 3rem;
      background-color: #fff;
      box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.16);
      /* 스크롤매직 */
      &.s-event {
        opacity: 0;
        transform: translateY(20px);
        transition: .6s;
          &.visible {
            opacity: 1;
            transform: none;
          }
      }
      .info {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding: 3rem 0 4rem 8rem;
        .info_cover {
          .title {
            font-size: 2.5rem;
            font-weight: 700;
          }
          .detail {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 3rem;
          }
        }
        .info_btn {
          display: flex;
          gap: 1rem;
          .btn {
            @include btn(1.6rem, 0.8rem 2.2rem);
            :hover {
              @include btn_hover;
            }
          }
        }
      }
      .thumnail {
        width: 60%;
        display: flex;
        align-items: center;
        img {
          margin: 0 auto;
        }
      }
      &:hover {
        transform: scale(1.01);
        // transition: 0.1s;
      }
    }
  }
  .main_bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    img {
      width: 100%;
      position: absolute;
      bottom: -6rem;
    }
  }
}





// ect_wrapper
.ect_wrapper {
  width: 100%;
  padding-bottom: 1rem;
  background-color: #FCF8FF;
  position: relative;
  top: 0;
  z-index: 0;

  .title_1 {
    @include inner();
    @include padding-top(#E1B8FB);
  }
  .abilities_cover {
    @include inner();
    display: flex;
    justify-content: center;
    img {
      padding-top: 3rem;
      width: 86rem
    }
  }
  .title_2 {
    @include inner();
    @include padding-top(#E1B8FB);
    padding-top: 5rem;
  }
  .contact_cover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding-top: 3rem;
    .profile {
      img {
        width: 20rem;
        height: auto;
      }
    }
    .contact {
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: 500;
      span {
        font-size: 1.8rem;
      }
    }
  }
  .copyright {
    @include inner();
    height: 8rem;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    p {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
      color: #fff;
    }
  }

  .main_bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}


// 하단 바로가기 아이콘
.shortcut_wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
  .shortcut {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 2rem;
    padding-top: 2rem;
    img {
      width: 5.5rem;
      height: 5.5rem;
      background-color: #fff;
      border-radius: 5.5rem;
      box-sizing: border-box;
      &:hover {
        transform: rotateY(360deg);
        transition: 1s;
      }
    }
  }
}

//이메일 툴팁
.tippy-box {
  margin-bottom: 0.5rem;
  background-color: transparent;
  &[data-theme~='purple'] {
    background-color: #c891eb;
    color: #fff;
  }
  &[data-placement^=top]>.tippy-arrow:before{
    border-top-color: #c891eb;
  }
}



@import './laptop';
@import './tablet';
@import './mobile';
