@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
* {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

html {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  color: #707070;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1.6rem;
}

.nav_wrapper {
  position: fixed;
  width: 100%;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
  display: flex;
}
.nav_wrapper .inner {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_wrapper .inner .nav_profile img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  background-color: #e1b8fb;
  margin-left: 2rem;
}
.nav_wrapper .inner .nav_list {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.nav_wrapper .inner .nav_list li {
  padding: 1% 5%;
  margin: 10%;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  position: relative;
}
.nav_wrapper .inner .nav_list li a {
  color: #707070;
}
.nav_wrapper .inner .nav_list li :hover {
  transition: 0.3s;
  background: linear-gradient(40deg, #e1b8fb, #fc6262);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.nav_wrapper .inner .nav_list li :hover::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 80%;
  margin-left: 10%;
  left: 0;
  height: 0.3rem;
  border-radius: 0.1rem;
  background: linear-gradient(40deg, #e1b8fb, #ffb6b6);
}

.main_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.main_wrapper .inner {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  height: 80%;
  padding-top: 5%;
}
.main_wrapper .inner .main_title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}
.main_wrapper .inner .main_title .title {
  color: #e1b8fb;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0.3rem;
}
.main_wrapper .inner .main_title .name {
  color: #c891eb;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0.1rem;
}
.main_wrapper .inner .main_title .sub {
  font-size: 2rem;
}
.main_wrapper .inner .btn {
  display: flex;
  display: inline-block;
  background: linear-gradient(150deg, #d4aeff, #fecef1, #f69df6);
  border-radius: 4rem;
}
.main_wrapper .inner .btn a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 3rem;
}
.main_wrapper .inner .btn :hover {
  border-radius: 4rem;
  background: linear-gradient(50deg, #fecef1, #f6b2f6, #d4aeff);
  box-shadow: 0 0 0.5rem 0.1rem rgba(246, 157, 246, 0.5215686275);
}
.main_wrapper .main_bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.main_wrapper .main_bg img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.profile_wrapper {
  width: 100%;
  padding-bottom: 23rem;
  background-color: #FFDCF6;
  position: relative;
  top: 0;
}
.profile_wrapper .wrapper_title {
  padding-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 10rem;
  text-align: center;
  color: #fff;
}
.profile_wrapper .part_wrapper {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  display: flex;
}
.profile_wrapper .part_wrapper .part {
  width: 50%;
  display: flex;
  justify-content: center;
}
.profile_wrapper .part_wrapper .part .profile_img {
  position: relative;
  top: -1rem;
  width: 20%;
}
.profile_wrapper .part_wrapper .part .profile_img img {
  width: 80%;
  padding-left: 10%;
}
.profile_wrapper .part_wrapper .part .profile_contents {
  position: relative;
  top: 2rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_wrapper .part_wrapper .part .profile_contents .contents_cover {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  padding: 3rem 0 3rem 5rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .cover_title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}
.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .content {
  font-size: 1.5rem;
}
.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .content .date {
  font-weight: 600;
}
.profile_wrapper .part_wrapper .part .profile_contents .contents_cover .content .detail {
  line-height: 1.5rem;
}
.profile_wrapper .part_wrapper .part1 .contents_cover {
  border-radius: 0 5rem 5rem 5rem;
  /* 스크롤매직 */
}
.profile_wrapper .part_wrapper .part1 .contents_cover.s-event {
  opacity: 0;
  transform: translateX(-20px);
  transition: 1s;
}
.profile_wrapper .part_wrapper .part1 .contents_cover.s-event.visible {
  opacity: 1;
  transform: none;
}
.profile_wrapper .part_wrapper .part2 .contents_cover {
  border-radius: 5rem 0 5rem 5rem;
  /* 스크롤매직 */
}
.profile_wrapper .part_wrapper .part2 .contents_cover.s-event {
  opacity: 0;
  transform: translateX(20px);
  transition: 1s;
}
.profile_wrapper .part_wrapper .part2 .contents_cover.s-event.visible {
  opacity: 1;
  transform: none;
}
.profile_wrapper .part_wrapper .part2 .contents_cover .date {
  line-height: 3rem;
}
.profile_wrapper .part_wrapper .part2 .contents_cover .detail {
  line-height: 0rem !important;
}
.profile_wrapper .main_bg {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.profile_wrapper .main_bg img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.work_wrapper {
  width: 100%;
  padding-bottom: 20rem;
  background-color: #fff;
  position: relative;
  top: 0;
  z-index: 0;
}
.work_wrapper .wrapper_title {
  padding-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 10rem;
  text-align: center;
  color: #FFDCF6;
}
.work_wrapper .works_cover {
  z-index: 2;
  position: relative;
  width: 1292px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5.5rem;
}
.work_wrapper .works_cover .works {
  width: 110.6rem;
  display: flex;
  border-radius: 3rem;
  background-color: #fff;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  /* 스크롤매직 */
}
.work_wrapper .works_cover .works.s-event {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}
.work_wrapper .works_cover .works.s-event.visible {
  opacity: 1;
  transform: none;
}
.work_wrapper .works_cover .works .info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 0 4rem 8rem;
}
.work_wrapper .works_cover .works .info .info_cover .title {
  font-size: 2.5rem;
  font-weight: 700;
}
.work_wrapper .works_cover .works .info .info_cover .detail {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
}
.work_wrapper .works_cover .works .info .info_btn {
  display: flex;
  gap: 1rem;
}
.work_wrapper .works_cover .works .info .info_btn .btn {
  display: inline-block;
  background: linear-gradient(150deg, #d4aeff, #fecef1, #f69df6);
  border-radius: 4rem;
}
.work_wrapper .works_cover .works .info .info_btn .btn a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0.8rem 2.2rem;
}
.work_wrapper .works_cover .works .info .info_btn .btn :hover {
  border-radius: 4rem;
  background: linear-gradient(50deg, #fecef1, #f6b2f6, #d4aeff);
  box-shadow: 0 0 0.5rem 0.1rem rgba(246, 157, 246, 0.5215686275);
}
.work_wrapper .works_cover .works .thumnail {
  width: 60%;
  display: flex;
  align-items: center;
}
.work_wrapper .works_cover .works .thumnail img {
  margin: 0 auto;
}
.work_wrapper .works_cover .works:hover {
  transform: scale(1.01);
}
.work_wrapper .main_bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.work_wrapper .main_bg img {
  width: 100%;
  position: absolute;
  bottom: -6rem;
}

.ect_wrapper {
  width: 100%;
  padding-bottom: 1rem;
  background-color: #FCF8FF;
  position: relative;
  top: 0;
  z-index: 0;
}
.ect_wrapper .title_1 {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  padding-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 10rem;
  text-align: center;
  color: #E1B8FB;
}
.ect_wrapper .abilities_cover {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.ect_wrapper .abilities_cover img {
  padding-top: 3rem;
  width: 86rem;
}
.ect_wrapper .title_2 {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  padding-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 10rem;
  text-align: center;
  color: #E1B8FB;
  padding-top: 5rem;
}
.ect_wrapper .contact_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-top: 3rem;
}
.ect_wrapper .contact_cover .profile img {
  width: 20rem;
  height: auto;
}
.ect_wrapper .contact_cover .contact {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
}
.ect_wrapper .contact_cover .contact span {
  font-size: 1.8rem;
}
.ect_wrapper .copyright {
  position: relative;
  width: 1292px;
  margin: 0 auto;
  height: 8rem;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}
.ect_wrapper .copyright p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
.ect_wrapper .main_bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.ect_wrapper .main_bg img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.shortcut_wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
}
.shortcut_wrapper .shortcut {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
.shortcut_wrapper .shortcut img {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #fff;
  border-radius: 5.5rem;
  box-sizing: border-box;
}
.shortcut_wrapper .shortcut img:hover {
  transform: rotateY(360deg);
  transition: 1s;
}

.tippy-box {
  margin-bottom: 0.5rem;
  background-color: transparent;
}
.tippy-box[data-theme~=purple] {
  background-color: #c891eb;
  color: #fff;
}
.tippy-box[data-placement^=top] > .tippy-arrow:before {
  border-top-color: #c891eb;
}

/* 스크롤매직 */
* {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

html {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  color: #707070;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1.6rem;
}

@media all and (max-width: 1291px) {
  .profile_wrapper {
    padding-bottom: 15rem;
  }
  .profile_wrapper .part_wrapper {
    width: 1024px;
  }
  .profile_wrapper .part_wrapper .part .profile_contents {
    width: 80%;
  }

  .work_wrapper {
    padding-bottom: 15rem;
  }
  .work_wrapper .works_cover {
    width: 1024px;
  }
  .work_wrapper .works_cover .works {
    width: 90rem;
  }
  .work_wrapper .works_cover .works .info .info_cover .title {
    font-size: 2.4rem;
  }
  .work_wrapper .works_cover .works .info .info_cover .detail {
    font-size: 1.4rem;
    word-break: keep-all;
  }

  .ect_wrapper {
    padding-bottom: 1rem;
  }
  .ect_wrapper .title_1,
.ect_wrapper .abilities_cover,
.ect_wrapper .title_2,
.ect_wrapper .copyright {
    width: 1024px;
  }
  .ect_wrapper .abilities_cover img {
    width: 70rem;
    padding-top: 1rem;
  }
  .ect_wrapper .title_2 {
    padding-top: 3rem;
  }
  .ect_wrapper .contact_cover {
    padding-top: 1rem;
    gap: 5rem;
  }
  .ect_wrapper .contact_cover .profile img {
    width: 18rem;
  }
  .ect_wrapper .copyright {
    height: 6rem;
    padding-top: 10rem;
  }
}
* {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

html {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  color: #707070;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1.6rem;
}

@media all and (max-width: 1023px) {
  html {
    font-size: 55% !important;
  }

  .wrapper_title {
    padding-top: 7rem !important;
  }

  .nav_wrapper {
    height: 7rem;
  }
  .nav_wrapper .inner {
    justify-content: center;
  }
  .nav_wrapper .inner .nav_profile img {
    display: none;
  }
  .nav_wrapper .inner .nav_list {
    justify-content: center;
    margin-right: 0;
    padding: 0;
  }

  .profile_wrapper .part_wrapper {
    width: 768px;
  }
  .profile_wrapper .part_wrapper .part .profile_contents .contents_cover {
    width: 70%;
    padding: 3rem;
    word-break: keep-all;
  }
  .profile_wrapper .part_wrapper .part1 .profile_img img {
    width: 60%;
    padding-left: 30%;
  }
  .profile_wrapper .part_wrapper .part2 .profile_contents .contents_cover {
    padding-left: 4.5rem;
  }
  .profile_wrapper .part_wrapper .part2 .profile_img img {
    width: 60%;
    padding-right: 30%;
  }

  .work_wrapper .works_cover {
    width: 768px;
  }
  .work_wrapper .works_cover .works {
    width: 75rem;
  }
  .work_wrapper .works_cover .works .info {
    width: 50%;
  }
  .work_wrapper .works_cover .works .info .info_cover .title {
    font-size: 2rem;
  }
  .work_wrapper .works_cover .works .info .info_cover .detail {
    font-size: 1.2rem;
  }
  .work_wrapper .works_cover .works .thumnail {
    width: 50%;
  }
  .work_wrapper .works_cover .works .thumnail img {
    width: 100%;
  }

  .ect_wrapper .title_1,
.ect_wrapper .abilities_cover,
.ect_wrapper .title_2,
.ect_wrapper .copyright {
    width: 768px;
  }
  .ect_wrapper .abilities_cover img {
    width: 60rem;
  }
  .ect_wrapper .contact_cover {
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }
  .ect_wrapper .contact_cover img {
    padding-top: 1rem;
  }
  .ect_wrapper .copyright {
    align-items: flex-end;
  }
  .ect_wrapper .copyright span {
    display: none;
  }

  .shortcut_wrapper .shortcut {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0rem;
    padding: 0 2rem 2rem 0;
  }
}
* {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

html {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  color: #707070;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1.6rem;
}

@media all and (max-width: 767px) {
  html {
    font-size: 50% !important;
  }

  .wrapper_title {
    padding-top: 10rem !important;
  }

  .nav_wrapper {
    height: 10rem;
  }
  .nav_wrapper .inner {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .nav_wrapper .inner .nav_list {
    padding: 0;
  }

  .main_wrapper .inner {
    width: 340px;
    height: 90%;
  }
  .main_wrapper .inner .main_title .title {
    font-size: 4.5rem;
  }
  .main_wrapper .inner .main_title .name {
    text-align: center;
    line-height: 2em;
    font-size: 3rem;
    width: 55%;
  }
  .main_wrapper .inner .main_title .name span {
    font-size: 3rem;
    line-break: strict;
  }
  .main_wrapper .inner .main_title .sub {
    font-size: 1.6rem;
  }

  .profile_wrapper .part_wrapper {
    width: 340px;
    flex-direction: column;
    gap: 4rem;
  }
  .profile_wrapper .part_wrapper .part {
    width: 100%;
  }
  .profile_wrapper .part_wrapper .part .profile_img {
    width: 10%;
  }
  .profile_wrapper .part_wrapper .part .profile_img img {
    width: 100%;
    padding: 0;
  }
  .profile_wrapper .part_wrapper .part .profile_contents {
    width: 90%;
  }
  .profile_wrapper .part_wrapper .part .profile_contents .contents_cover {
    width: 85%;
    padding: 3rem 0 3rem 3rem;
  }
  .profile_wrapper .part_wrapper .part2 .profile_contents .contents_cover {
    width: 80%;
    padding-left: 5rem;
  }

  .work_wrapper .works_cover {
    width: 340px;
  }
  .work_wrapper .works_cover .works:nth-child(1) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgb(255, 255, 255)), url(./../../images/work_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .work_wrapper .works_cover .works:nth-child(2) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgb(255, 255, 255)), url(./../../images/work_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .work_wrapper .works_cover .works:nth-child(3) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgb(255, 255, 255)), url(./../../images/work_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .work_wrapper .works_cover .works {
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
  .work_wrapper .works_cover .works .info {
    width: 90%;
    padding: 0;
    gap: 1rem;
  }
  .work_wrapper .works_cover .works .info .info_cover .title {
    text-align: center;
    font-size: 2rem;
  }
  .work_wrapper .works_cover .works .info .info_cover .detail {
    padding-left: 1.5rem;
    font-size: 1.6rem;
  }
  .work_wrapper .works_cover .works .info .info_btn {
    justify-content: center;
  }
  .work_wrapper .works_cover .works .thumnail {
    display: none;
  }
  .work_wrapper .main_bg img {
    bottom: 0;
  }

  .ect_wrapper {
    padding-bottom: 15rem;
  }
  .ect_wrapper .title_1,
.ect_wrapper .abilities_cover,
.ect_wrapper .title_2,
.ect_wrapper .copyright {
    width: 340px;
  }
  .ect_wrapper .title_2 {
    padding-top: 5rem !important;
  }
  .ect_wrapper .abilities_cover img {
    width: 90%;
  }
  .ect_wrapper .copyright {
    display: none;
  }

  .shortcut_wrapper .shortcut {
    gap: 0rem;
  }
  .shortcut_wrapper .shortcut img {
    width: 4.5rem;
    height: 4.5rem;
  }
}